.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header {
    background-color: $dark--blue--clr--600;
    padding: clamp(1rem, 1.05vw, 1.6rem);
    button {
      display: inline-block;
      margin-right: clamp(1.2rem, 1.25vw, 2rem);
    }
    .notes__title {
      display: inline-block;
      span:first-child {
        background-color: $palet--darkblue--clr;
        color: $white--clr;
        font-family: inherit;
        font-weight: 400;
        font-size: clamp(1.8rem, 1.35vw, 2.2rem);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: clamp(5rem, 3.25vw, 6rem);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        text-transform: uppercase;
      }
      span:last-child {
        font-family: inherit;
        font-weight: 500;
        font-size: clamp(1.8rem, 1.35vw, 2.2rem);
        color: $white--clr;
        margin-left: clamp(1.2rem, 1.25vw, 2rem);
      }
    }
  }
  .chat__area {
    flex-grow: 1;
    overflow-y: auto;
    padding: clamp(1.2rem, 2.3vh, 1.8rem) clamp(2.2rem, 1.75vw, 3rem);

    /* width */
    &::-webkit-scrollbar {
      width: clamp(0.5rem, 0.75vw, 1rem);
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba($black--clr, 63%);
      border-radius: 100px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $white--clr;
      border-radius: 100px;
    }

    &--items {
      &:not(:last-child) {
        margin-bottom: clamp(1.2rem, 2.5vh, 2rem);
      }
      background-color: $white--clr;
      padding: clamp(1.6rem, 2.9vh, 2.4rem) clamp(1.4rem, 1.35vw, 2.2rem)
        clamp(0.5rem, 1.5vh, 1rem) clamp(1.4rem, 1.35vw, 2.2rem);
      border-radius: 0.5rem;
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
    }
    &--content {
      font-size: clamp(1.4rem, 1.05vw, 1.6rem);
      font-family: inherit;
      font-weight: 500;
      color: $black--clr;
      line-height: 2.3rem;
      letter-spacing: 0.1rem;
      text-align: justify;
    }
    &--timings {
      font-size: clamp(1.4rem, 1.05vw, 1.6rem);
      font-family: inherit;
      font-weight: 500;
      color: $black--clr--400;
      line-height: 2.3rem;
      letter-spacing: 0.1rem;
      text-align: end;
      margin-top: clamp(1.8rem, 3.1vh, 2.6rem);
      span:first-child::after {
        content: "";
        display: inline-block;
        width: clamp(0.5rem, 0.6vw, 0.7rem);
        aspect-ratio: 1 / 1;
        background-color: $black--clr--400;
        border-radius: 50%;
        margin-inline: clamp(0.5rem, 0.75vw, 1rem);
      }
    }
  }
  &__message {
    background-color: $dark--blue--clr--600;
    padding: clamp(1rem, 1.25vw, 2rem);
    &--textEditor__wrapper {
      width: 100%;
      position: relative;
      textarea {
        height: clamp(14rem, 17vh, 16.6rem);
        resize: none;
        width: 100%;
        padding: clamp(0.8rem, 2.1vh, 1.6rem) clamp(1.6rem, 1.35vw, 2.2rem);
        font-size: clamp(1.6rem, 1.35vw, 2.2rem);
        font-family: inherit;
        font-weight: 400;
        color: $gray--clr--600;
        letter-spacing: 0.1rem;
        border-radius: 1rem;
        &::placeholder {
          font-size: clamp(1.6rem, 1.35vw, 2.2rem);
          font-family: inherit;
          font-weight: 400;
          color: $gray--clr--600;
          letter-spacing: 0.1rem;
        }
        /* width */
        &::-webkit-scrollbar {
          width: clamp(0.5rem, 0.75vw, 1rem);
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: $light--blue--clr--300;
          border-radius: 100px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $dark--blue--clr--600;
          border-radius: 100px;
        }

        @media (max-width: 992px) {
          height: clamp(11rem, 17vh, 14rem);
        }
      }
      button[type="submit"] {
        &.disabled {
          cursor: not-allowed;
        }
        position: absolute;
        right: clamp(1.4rem, 1.25vw, 2rem);
        bottom: clamp(1.4rem, 1.25vw, 2rem);
        background-color: $white--clr;
        img {
          @media (max-width: 992px) {
            width: clamp(2rem, 1.45vw, 2.4rem);
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    width: 100%;
    height: 100vh;
    background-color: $light--blue--clr--300;
  }
}
