.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.6rem;
    img {
      width: 30vw;
    }
    h2 {
      font-size: 4.6rem;
      font-family: inherit;
      color: $black--clr;
      font-weight: 700;
    }
    p {
      text-align: justify;
      font-family: inherit;
      font-weight: 500;
      font-size: 2.1rem;
      color: $black--clr--600;
      line-height: 2.8rem;
    }
  }
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.6rem;
    p {
      font-family: inherit;
      font-weight: 400;
      font-size: 2rem;
      color: $black--clr--600;
      img {
      }
      span {
        margin-left: 1.6rem;
      }
    }
  }
}
