.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clamp(1rem, 2.1vh, 1.6rem);
    img {
      width: 30vw;
    }
    h2 {
      font-size: clamp(3.8rem, 2.55vw, 4.6rem);
      font-family: inherit;
      color: $black--clr;
      font-weight: 700;
    }
    p {
      text-align: justify;
      font-family: inherit;
      font-weight: 500;
      font-size: clamp(1.7rem, 1.3vw, 2.1rem);
      color: $black--clr--600;
      line-height: 2.8rem;
    }
  }
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: clamp(2rem, 3.1vh, 2.6rem);
    p {
      font-family: inherit;
      font-weight: 400;
      font-size: clamp(1.7rem, 1.3vw, 2.1rem);
      color: $black--clr--600;
      img {
      }
      span {
        margin-left: clamp(1rem, 1.15vw, 1.6rem);
      }
    }
  }
}
