.newGroup__content {
  background-color: $white--clr;
  padding: clamp(3rem, 2.05vw, 3.6rem);
  border-radius: 0.5rem;
  @media (max-width: 992px) {
    width: 50%;
  }
  @media (max-width: 856px) {
    width: 60%;
  }
  @media (max-width: 768px) {
    width: 70%;
  }
  @media (max-width: 640px) {
    width: 80%;
  }
  @media (max-width: 552px) {
    width: 90%;
  }
  h3 {
    font-family: inherit;
    font-weight: 500;
    font-size: clamp(2.2rem, 1.65vw, 2.8rem);
    color: $black--clr;
    margin-bottom: clamp(1rem, 1.5vh, 2rem);
    letter-spacing: 0.1rem;
    @media (max-width: 552px) {
      font-size: clamp(2rem, 1.65vw, 2.8rem);
    }
  }
  .newGroup__form {
    display: flex;
    flex-direction: column;
    row-gap: clamp(2rem, 3.5vh, 3rem);
    &--group {
      &--control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: clamp(3rem, 2.05vw, 3.6rem);
        label.newGroup__form--label {
          font-family: inherit;
          font-weight: 500;
          font-size: clamp(1.9rem, 1.45vw, 2.4rem);
          color: $black--clr;
          display: inline-block;
          @media (max-width: 552px) {
            font-size: clamp(1.7rem, 1.45vw, 2.4rem);
          }
        }
        input[type="text"] {
          flex-grow: 1;
          width: 20vw;
          max-width: clamp(30rem, 18.25vw, 36rem);
          font-family: inherit;
          font-weight: 400;
          font-size: clamp(1.5rem, 1.1vw, 1.7rem);
          color: $gray--clr--500;
          padding: clamp(0.6rem, 1.5vh, 1rem) clamp(1.6rem, 1.35vw, 2.2rem);
          border-radius: 100px;
          border: 1px solid $gray--clr--400;
          letter-spacing: 0.1rem;
          &::placeholder {
            font-family: inherit;
            font-weight: 400;
            font-size: clamp(1.5rem, 1.15vw, 1.9rem);
            color: $gray--clr--500;
            letter-spacing: 0.1rem;
          }
          &.inValid {
            border: 1px solid red;
          }
          @media (max-width: 992px) {
            width: unset;
          }
          @media (max-width: 552px) {
            width: 100%;
            max-width: unset;
            flex-grow: unset;
          }
        }
        .newGroup__form--color__palets {
          flex-grow: 1;

          label {
            &.active {
              border: 3px solid $dark--blue--clr--800;
            }
            &:not(:last-child) {
              margin-right: clamp(0.8rem, 0.85vw, 1.2rem);
            }
            display: inline-block;
            width: clamp(2.8rem, 1.95vw, 3.4rem);
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            cursor: pointer;
            &[for="newGroup__form--color__palets-violet"] {
              background-color: $palet--violet--clr;
            }
            &[for="newGroup__form--color__palets-pink"] {
              background-color: $palet--pink--clr;
            }
            &[for="newGroup__form--color__palets-skyBlue"] {
              background-color: $palet--skyblue--clr;
            }
            &[for="newGroup__form--color__palets-orange"] {
              background-color: $palet--orange--clr;
            }
            &[for="newGroup__form--color__palets-blue"] {
              background-color: $palet--blue--clr;
            }
            &[for="newGroup__form--color__palets-darkBlue"] {
              background-color: $palet--darkblue--clr;
            }
            input[type="radio"] {
              display: none;
            }
          }
        }
        @media (max-width: 552px) {
          flex-direction: column;
          align-items: flex-start;
          row-gap: 1rem;
        }
      }
      .error__msg {
        display: inline-block;
        font-size: clamp(1.4rem, 1vw, 1.5rem);
        color: red;
        margin-top: clamp(1rem, 1.9vh, 1.4rem);
      }
    }
    &--create {
      text-align: end;
      &-btn {
        font-family: inherit;
        font-size: clamp(1.4rem, 1.05vw, 1.6rem);
        font-weight: 300;
        padding: 0.7rem clamp(3rem, 2.25vw, 4rem);
        color: $white--clr;
        background-color: $dark--blue--clr--600;
        border-radius: 0.6rem;
        letter-spacing: 0.1rem;
      }
    }
  }
}
