.notes {
  padding-top: 4rem;
  &__list {
  }
  &__item {
    span:first-child {
      background-color: $palet--darkblue--clr;
      color: $white--clr;
      font-family: inherit;
      font-weight: 400;
      font-size: 2.2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }
    span:last-child {
      font-family: inherit;
      font-weight: 500;
      font-size: 2.2rem;
      color: $black--clr;
      margin-left: 2rem;
    }
  }
}
