$black--clr: #000000;
$black--clr--600: #292929;
$black--clr--400: #353535;

$white--clr: #ffffff;

$light--blue--clr--300: #dae5f5;

$dark--blue--clr--600: #001f8b;
$dark--blue--clr--800: #16008b;

$gray--clr--300: #d9d9d9;
$gray--clr--400: #cccccc;
$gray--clr--500: #979797;
$gray--clr--600: #9a9a9a;

$contact--hover--clr: rgba(#2f2f2f, 17%);
$modal--backdrop--clr: rgba(#2f2f2f, 75%);

$palet--violet--clr: #b38bfa;
$palet--pink--clr: #ff79f2;
$palet--skyblue--clr: #43e6fc;
$palet--orange--clr: #f19576;
$palet--blue--clr: #6691ff;
$palet--darkblue--clr: #0047ff;
